@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
#mainFooter {
  margin: 10px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.box1 h4 {
  font-size: 18px;
}

.box2 p {
  line-height: 18px;
}

.box3 label {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.box3 input {
  background-color: white;
}

.Email {
  position: relative;
  width: 200px;
}

input {
  border: none;
  border-bottom: solid 2px black;
  width: 180px;
  color: grey;
  display: block;
  font-size: 12px;
  padding: 10px;
}

#submit1 {
  border: solid 2px black;
  width: 70px;
  font-size: 10px;
  text-transform: uppercase;
  padding: 5px;
  margin-top: 10px;
  font-weight: bold;
}

#submit1:hover {
  color: white;
  background: grey;
}

.socialIcon h4 {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.socialIcon ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.socialIcon ul li {
  display: inline-block;
  cursor: pointer;
}

.socialIcon ul li a {
  padding: 11px;
}

.copyright h5 {
  margin-bottom: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 938px) {
  #mainFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .box1, .box2, .box3 {
    width: 150px;
    margin-right: 40px;
  }

  .socialIcon {
    display: grid;
    justify-content: center;
    text-align: left;
  }

  .socialIcon h4 {
    display: inherit;
  }
}
@media screen and (min-width: 768px) {
  .socialIcon {
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .socialmedia h4 {
    display: none;
  }
}
div, p, body, header, section, article, nav {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  body {
    background-color: #ffffff;
  }
}
.hidden {
  display: none;
}

@media screen and (min-width: 320px) {
  body {
    background-color: #949BA6;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #EFF3F8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

header {
  background: #fff;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  text-align: center;
  color: black;
}

img {
  border: 0;
  display: inline-block;
  position: relative;
  padding-top: 30px;
  width: 300px;
}

ul {
  position: sticky;
  top: 0;
  margin: 30px 0 0 0;
  list-style: none;
  background: rgba(44, 62, 80, 0.5);
}
ul li {
  display: inline-block;
}
ul li a {
  padding: 15px 25px;
  display: inline-block;
  font-size: 15px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 30%;
  width: 100%;
  letter-spacing: 5px;
}

p {
  margin-top: 60px;
}

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/*# sourceMappingURL=master.css.map */
