
.siteContainer {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    float: center;
   
}
// mobile version

#mainFooter {
    // margin: 10px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    color: black;
    padding-left: 50px;
    margin-top: 20px;
    
}

.box1 {
    // margin-left: -90px
    padding-left: 20px;
}

.box1 h4 {
    font-size: 18px;
    margin-top: 20px;
    // padding-left: -100px;
    // margin-right: auto;
    
    
}

.box2 {
   padding-left: 20px;
   
}

.box2 h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}
.box2 p {
    line-height: 18px;
    margin-top: 3px;
}

.box3 {
    margin-top: 20px;
    margin-left: -30px;
}


.box3 label {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    // margin-top: 20px;
}


.box3 input {
    background-color: white;
    margin-top: 10px;
}

.Email {
    position: relative;
    width: 200px;
}

input {
    width: 180px;
    color: grey;
    display: block;
    border: none;
    border-bottom: solid 2px black;
    font-size: 12px;
    padding: 10px;
}

#submit1 {
    
    width: 70px;
    font-size: 10px;
    border: solid 2px black;
    text-transform: uppercase;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}

#submit1:hover {
  
    cursor: pointer;
    color: black;
    background: #ffc0cb;
    
  }

  .socialIcon {
      margin-left: -30px;
  }



.socialIcon h4{
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
   
  }

.socialIcon ul {

    padding: 0;
    list-style-type: none;
    margin: 0;
    
}

.socialIcon ul li {
    
    cursor: pointer;
    display: inline-block;
}



.socialIcon ul li a {
    padding: 8px;
    padding-right: -30px;
    margin-left: -1px;
}

.copyright h4 {

    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    // font-family: Arial, Helvetica, sans-serif;
}



// mobile version end







// Desktop version
@media screen and (min-width:938px) {

    #mainFooter{
        // padding-bottom: 30px;
        // margin: 10px 0px 0px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    // .box1, .box2, .box3 {
    //     width: 150px;
    //     margin-right: 40px;
    // }

    .box1 {
        margin-right: 190px;
    }

    .box2 {
        margin-right: 40px;
    }


    .socialIcon {
        display: grid;
        justify-content: center;
        text-align: left;
    }
    .socialIcon h4{
        display: inherit;
    }

   
}

// desktop version end

// tablet version
@media screen and (min-width: 768px) {
    
    .socialIcon {
        display: grid;
        // justify-content: center;
        // text-align: center;
        // margin-left: -30px;
    }

    .socialmedia h4 {
        display: none;
    }
}

// tablet version end

#mainFooter {
    background-size: cover;
    background-color: pink;
    color: black;
    max-width: 1200px;
    min-width: 320px;
   
    // opacity: 1;
   
}

.box3 {
    margin-right: 130px;
}

.box2 {
    margin-left: -50px;
}

.box1 {
    margin-left: -50px;
}

