// css documents goes here
div, p, body, header, section, article, nav {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) {
    body {
      background-color: #ffffff;
    }
  }

// html selectors are here


.hidden {
    display: none;
}


// a:link, a:visited {
//     text-decoration: none;
// }

// a:hover, a:active {
//     text-decoration: none;
// }


// a {
//     cursor: pointer;
//     color: #818384;

// }

// .siteContainer {
//     margin: 0 auto;
//     background-color: #EFF3F8;
//     color: #818384;
//     min-width: 320px;
//     max-width: 1200px;   
// }
// #logo {
//     font-size: 16px;
//     padding: 20px;
//     display: block;
//     float: left;
// }

